* {
	position: relative;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	padding: 0px;
	margin: 0px;
	border: none;
	box-sizing: border-box;
}
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;

	 /*cursor: none; */
}


.blockText {
	display: block;
	position: absolute;
	overflow: hidden;
}

.textLayer {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.modalLayer {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.controlLayer {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.controlVisuals {
	display: block;
	position: absolute;
	top: 100px;
	left: 100px;
	width: 1px;
	height: 1px;
	background: black;
	pointer-events: none;
}
.controlVisuals:before {
	content: "";
	display: block;
	position: relative;
	top: -4px;
	left: 0px;
	width: 1px;
	height: 9px;
	background: black;
}
.controlVisuals:after {
	content: "";
	display: block;
	position: relative;
	top: -9px;
	left: -4px;
	width: 9px;
	height: 1px;
	background: black;
}


.no-select {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.ease {
	transition: 0.1s ease-out;
}
.pointer {
	cursor: pointer;
}
.sh-10 {
	box-shadow: 0px 10px 10px -0px rgba(0,0,0,1);
}
.sh-10:active {
	box-shadow: 0px 0px 5px -0px rgba(0,0,0,1);
}


.svgLayer {
	height: 100%;
	width: 100%;
	display: block;
}


.modal-layer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	z-index: 2;
}
.modal-layer > .window-modal {
	display: block;
	position: absolute;
	box-shadow: 0px 5px 10px -5px black;
	padding: 10px;
	background: gray;
}

.controls .block {
	position: relative;
	width: 100%;
	padding: 0 0 0 0.5em;
	overflow: hidden;
}
.controls .block .block {
	float: left;
	width: auto;
}
.controls .title {
	margin: 0px;
}
.controls .folder {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 1em;
	height: 1em;
	background-color: black;
	font-weight: 900;
	text-align: center;
	line-height: 1em;
	font-size: 1em;
	border-radius: 1em;
	padding: 0px;
	margin: 0.25em;
	cursor: pointer;
	color: white;
}
.controls .wrapper {
}
.controls input {
	border: 1px solid black;
	height: 1.25em;
	padding: 0;
	vertical-align: top;
}
.controls select {
	border: 1px solid black;
	height: 1.25em;
	padding: 0;
	vertical-align: top;
}
.controls.05c {
	width: 12%;
}
.controls.1c {
	width: 24%;
}
.controls.2c {
	width: 49%;
}